<%= form_for(@tipos_projeto) do |f| %>
  <% if @tipos_projeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipos_projeto.errors.count, "error") %> Proibe o projeto de ser salvo:</h2>

      <ul>
      <% @tipos_projeto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
